<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pipeline</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app will acquire images from camera to apply sketch or cartoon filter effects.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app will access your photo library to save the images with sketch or cartoon filter effects.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app will acquire images from photo library to apply sketch or cartoon filter effects.</string>
	<key>UIAppFonts</key>
	<array>
		<string>CCodeSecuritySERIF_T.otf</string>
		<string>CCodeSecuritySERIF_S.otf</string>
		<string>CCodeSecuritySANS_T.otf</string>
		<string>CCodeSecuritySANS_S.otf</string>
		<string>ConnectCodeCMC7IV.otf</string>
		<string>ConnectCodeCMC7III.otf</string>
		<string>ConnectCodeCMC7II.otf</string>
		<string>ConnectCodeCMC7I.otf</string>
		<string>ConnectCodeCMC7.otf</string>
		<string>ConnectCodeMICR.otf</string>
		<string>ConnectCodeIPostnet.otf</string>
		<string>ConnectCode39_S1.otf</string>
		<string>ConnectCode39_S2.otf</string>
		<string>ConnectCode39_S3.otf</string>
		<string>ConnectCode39_S4.otf</string>
		<string>ConnectCode39_S5.otf</string>
		<string>ConnectCode39_S6.otf</string>
		<string>ConnectCode39_S7.otf</string>
		<string>ConnectCode39_HS3.otf</string>
		<string>ConnectCodeIND2of5_S1.otf</string>
		<string>ConnectCodeIND2of5_S2.otf</string>
		<string>ConnectCodeIND2of5_S3.otf</string>
		<string>ConnectCodeIND2of5_S4.otf</string>
		<string>ConnectCodeIND2of5_S5.otf</string>
		<string>ConnectCodeIND2of5_S6.otf</string>
		<string>ConnectCodeIND2of5_S7.otf</string>
		<string>ConnectCode128_S1.otf</string>
		<string>ConnectCode128_S2.otf</string>
		<string>ConnectCode128_S3.otf</string>
		<string>ConnectCode128_S4.otf</string>
		<string>ConnectCode128_S5.otf</string>
		<string>ConnectCode128_S6.otf</string>
		<string>ConnectCode128_S7.otf</string>
		<string>ConnectCode128B_HS3.otf</string>
		<string>ConnectCode93_S1.otf</string>
		<string>ConnectCode93_S2.otf</string>
		<string>ConnectCode93_S3.otf</string>
		<string>ConnectCode93_S4.otf</string>
		<string>ConnectCode93_S5.otf</string>
		<string>ConnectCode93_S6.otf</string>
		<string>ConnectCode93_S7.otf</string>
		<string>ConnectCodeMSI_S1.otf</string>
		<string>ConnectCodeMSI_S2.otf</string>
		<string>ConnectCodeMSI_S3.otf</string>
		<string>ConnectCodeMSI_S4.otf</string>
		<string>ConnectCodeMSI_S5.otf</string>
		<string>ConnectCodeMSI_S6.otf</string>
		<string>ConnectCodeMSI_S7.otf</string>
		<string>ConnectCodeI2of5_S1.otf</string>
		<string>ConnectCodeI2of5_S2.otf</string>
		<string>ConnectCodeI2of5_S3.otf</string>
		<string>ConnectCodeI2of5_S4.otf</string>
		<string>ConnectCodeI2of5_S5.otf</string>
		<string>ConnectCodeI2of5_S7.otf</string>
		<string>ConnectCodeI2of5_HS3.otf</string>
		<string>ConnectCodeITF_S1.otf</string>
		<string>ConnectCodeITF_S2.otf</string>
		<string>ConnectCodeITF_S3.otf</string>
		<string>ConnectCodeITF_S4.otf</string>
		<string>ConnectCodeITF_S5.otf</string>
		<string>ConnectCodeITF_S6.otf</string>
		<string>ConnectCodeITF_S7.otf</string>
		<string>ConnectCodeGS1D_S1.otf</string>
		<string>ConnectCodeGS1D_S2.otf</string>
		<string>ConnectCodeGS1D_S3.otf</string>
		<string>ConnectCodeGS1D_S4.otf</string>
		<string>ConnectCodeGS1D_S5.otf</string>
		<string>ConnectCodeGS1D_S6.otf</string>
		<string>ConnectCodeGS1D_S7.otf</string>
		<string>ConnectCodeGS1DTR.otf</string>
		<string>ConnectCodeCodabar_S1.otf</string>
		<string>ConnectCodeCodabar_S2.otf</string>
		<string>ConnectCodeCodabar_S3.otf</string>
		<string>ConnectCodeCodabar_S4.otf</string>
		<string>ConnectCodeCodabar_S5.otf</string>
		<string>ConnectCodeCodabar_S6.otf</string>
		<string>ConnectCodeCodabar_S7.otf</string>
		<string>ConnectCodeUPCEAN_S1.otf</string>
		<string>ConnectCodeUPCEAN_S2.otf</string>
		<string>ConnectCodeUPCEAN_S3.otf</string>
		<string>ConnectCodeUPCEAN_S4.otf</string>
		<string>ConnectCodeUPCEAN_S5.otf</string>
		<string>ConnectCodeUPCEAN_S6.otf</string>
		<string>ConnectCodeUPCEAN_S7.otf</string>
		<string>ConnectCodeUPCEAN_HRBS1.otf</string>
		<string>ConnectCodeUPCEAN_HRBS2.otf</string>
		<string>ConnectCodeUPCEAN_HRBS3.otf</string>
		<string>ConnectCodeUPCEAN_HRBS4.otf</string>
		<string>ConnectCodeUPCEAN_HRBS5.otf</string>
		<string>ConnectCodeUPCEAN_HRBS6.otf</string>
		<string>ConnectCodeUPCEAN_HRBS7.otf</string>
		<string>ConnectCodeUPCEAN_HRTS1.otf</string>
		<string>ConnectCodeUPCEAN_HRTS2.otf</string>
		<string>ConnectCodeUPCEAN_HRTS3.otf</string>
		<string>ConnectCodeUPCEANA_HRBS1.otf</string>
		<string>ConnectCodeUPCEANA_HRBS2.otf</string>
		<string>ConnectCodeUPCEANA_HRBS3.otf</string>
		<string>ConnectCodeUPCEANA_HRBS4.otf</string>
		<string>ConnectCodeUPCEANA_HRBS5.otf</string>
		<string>ConnectCodeUPCEANA_HRBS6.otf</string>
		<string>ConnectCodeUPCEANA_HRBS7.otf</string>
		<string>ConnectCodeUPCEANA_HRTS1.otf</string>
		<string>ConnectCodeUPCEANA_HRTS2.otf</string>
		<string>ConnectCodeUPCEANA_HRTS3.otf</string>
		<string>ConnectCodeUPCEANB_HRBS1.otf</string>
		<string>ConnectCodeUPCEANB_HRBS2.otf</string>
		<string>ConnectCodeUPCEANB_HRBS3.otf</string>
		<string>ConnectCodeUPCEANB_HRBS4.otf</string>
		<string>ConnectCodeUPCEANB_HRBS5.otf</string>
		<string>ConnectCodeUPCEANB_HRBS6.otf</string>
		<string>ConnectCodeUPCEANB_HRBS7.otf</string>
		<string>ConnectCodeUPCEANB_HRTS1.otf</string>
		<string>ConnectCodeUPCEANB_HRTS2.otf</string>
		<string>ConnectCodeUPCEANB_HRTS3.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UILaunchStoryboardName</key>
	<string>NodeLaunch Screen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>still-camera</string>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
